{:deps {:aliases [:dev]}
 :dev-http {8087 ["resources/public" "classpath:public"]}
 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn toil.dev/main}}
   :dev {:output-dir "resources/public/js"}}
  :test
  {:target    :node-test
   :output-to "resources/test/tests.js"
   :ns-regexp "-test$"
   :autorun   true}}}
